body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: whitesmoke;
}

.container {
    width: 900px;
    margin: 20px auto;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.header {
    background: #b56a2d;
    color: white;
    padding: 20px;
}

.header h1 {
    margin: 0;
}

.main {
    display: flex;
}


.left {
    width: 65%;
    padding: 20px;
}

.left h2 {
    color: #b56a2d;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

.date {
    color: gray;
    font-size: 14px;
}


.right {
    width: 35%;
    background: #f0e6dc;
    padding: 20px;
}

.right img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
}

.right h2 {
    color: #b56a2d;
    border-bottom: 2px solid #ccc;
}

ul {
    padding-left: 20px;
}